
body{background-color: #80bfaa; color: #ffffff;
font-family: 'Times New Roman', Times, serif;}

.mainheading{text-align: center; margin-bottom: 20px;}

h1,h2{color: #000000;}

nav {background-color: #000000;}

a:visited {color: #c0a6e3;}
a:hover {background-color:#ffffff;}       

nav {background-color: #000000; padding: 30px; 
margin-bottom: 30px;}

.quote {float:right; margin-top: 0px;}

.row1, .row2 {display:flex; margin-bottom: 20px; padding: 10px; border-radius: 10px;
background-color: #000000;}

.row1 div, .row2 div {flex:1; margin-right: 20px;}

.flexbox1{display: flex; flex: 3; justify-content: space-between; margin: 30px;}
.aside{background-color: #c0a6e3; border-radius: 15px; flex: 1; padding: 20px;}
.flexbox2{display: flex; margin: 50px;}

.banner{max-width: 100%;}

.maps{flex-wrap: wrap;}