


body{background-color: #80bfaa; color: #ffffff;
font-family: 'Times New Roman', Times, serif;}

h1{color: black;}
        
.box {background-color: #ffff; border: 5px solid pink; padding: 30px; 
margin: 30px;}

a:visited {color: #c0a6e3;}
a:hover {color:#ffffff}